### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import csv

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
print (purchase_data["SN"].count())
purchase_data.columns

780

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [3]:
playercount =  pd.DataFrame({
                            "Total Players":[ len(purchase_data["SN"].value_counts())]
                            })
playercount

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
items = pd.DataFrame({
    "Number of Unique Items":[len(purchase_data["Item Name"].value_counts())],
    "Average Price":[round(purchase_data["Price"].mean(),2)],
    "Number of Purchases":[len(purchase_data["Purchase ID"].value_counts())],
    "Total Revenue":[purchase_data["Price"].sum()]
})
items

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Set Table to Gender, SN then Age
usergender = purchase_data[["Gender", "SN", "Age"]]
usergender = usergender.drop_duplicates()
#Count the Gender by Type
gendercounts = usergender["Gender"].value_counts()
#Make new Table that displays Gender count and percentage by gender type
gender_dems = pd.DataFrame({
    "Total Count":gendercounts,
    "Percentage of Players":round((gendercounts/len(purchase_data["SN"].value_counts()))*100,2)
})
#set Percentage of Players type to string then add % sign
gender_dems["Percentage of Players"] = gender_dems["Percentage of Players"].astype(str)+ "%"
gender_dems.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
gen_pa = purchase_data[["Purchase ID","Gender","Price"]]

#get female values
female = gen_pa.loc[gen_pa["Gender"] == "Female", :]
#get female total
femaletotal = female["Purchase ID"].count()
#get female average price purchase and change the float format to add $ at start
femaleavg = female["Price"].mean()
#get total value of purchase 
femalesum = female["Price"].sum()

#get male values
male = gen_pa.loc[gen_pa["Gender"] == "Male", :]
#get male total
maletotal = male["Purchase ID"].count()
#get male average price purchase and change the float format to add $ at start
maleavg = male["Price"].mean()
#get total value of purchase
malesum = male["Price"].sum()


#get Other / Non-Disclosed values
other = gen_pa.loc[gen_pa["Gender"] == "Other / Non-Disclosed", :]
#get other total
othertotal = other["Purchase ID"].count()
#get other average price purchase and change the float format to add $ at start
otheravg = other["Price"].mean()
#get total value of purchase 
othersum = other["Price"].sum()



#create data frame to show data
gen_pur = pd.DataFrame([
    {"Gender":"Male","Purchase Count":maletotal,"Average Purchase Price": maleavg,"Total Purchase Value": malesum},
    {"Gender":"Female","Purchase Count":femaletotal,"Average Purchase Price":femaleavg,"Total Purchase Value": femalesum},
    {"Gender":"Other / Non-Disclosed","Purchase Count":othertotal,"Average Purchase Price":otheravg,"Total Purchase Value": othersum}
    #"Total Purchase Value":price_totl
])
gen_pur = gen_pur.set_index("Gender")
#get the Avg Total Purchase per Person per Gender
gen_pur["Avg Total Purchase per Person"] = gen_pur["Total Purchase Value"]/gender_dems["Total Count"]
#set format of the data set to round in hundredth place and add $ sign
gen_pur = gen_pur.style.format({
    "Average Purchase Price": "${:,.2f}".format,
    "Total Purchase Value": "${:,.2f}".format,
    "Avg Total Purchase per Person" : "${:,.2f}".format
})

gen_pur

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#get tables for this block
age_demo = purchase_data[["SN","Age"]]
age_demo = age_demo.drop_duplicates()
totalusers = age_demo["SN"].count()
#set bin
age_bins = [0,9,14,19,24,29,34,39,45]
bin_name=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#set the bins for each range
age_demo["Age Range"]=pd.cut(age_demo["Age"], age_bins, labels=bin_name,include_lowest=True)

#assign to a new data frame
show_age_demo = age_demo[["Age","Age Range"]]
show_age_demo = show_age_demo.groupby("Age Range")
show_age_demo = show_age_demo.count()
#add the Percentage of Players column
show_age_demo["Percentage of Players"] =  (show_age_demo["Age"]/age_demo["SN"].count())*100
#set variable for the next part
totaluser=show_age_demo["Age"].count()
#rename Age column to Total Count 
show_age_demo.rename(columns={"Age":"Total Count"},inplace= True)
#set format to be rounded out in hundreth place and add % sign
show_age_demo = show_age_demo.style.format({
    "Percentage of Players": "{:,.2f}%".format
})

show_age_demo
#age_demo.columns

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#set data sets then remove duplicates
age_pur = purchase_data[["Age", "Purchase ID","Price"]]
age_pur = age_pur.drop_duplicates()
#set the bin for the age group
age_pur["Age Range"]=pd.cut(age_pur["Age"], age_bins, labels=bin_name,include_lowest=True)
#rename the column Age to Purchase Count 
age_pur.rename(columns={"Age":"Purchase Count"},inplace=True)
#group by age range
age_pur = age_pur.groupby("Age Range")
#set age_pur data to a new data set
show_age_pur = pd.DataFrame(age_pur["Purchase ID"].count())
#get the Average Purchase Price per age group
show_age_pur["Average Purchase Price"] = age_pur["Price"].mean()
#get the total purchase value
show_age_pur["Total Purchase Value"] = age_pur["Price"].sum()
#get the average purchase value per person per age group
show_age_pur["Avg Total Purchase per Person"] = show_age_pur["Total Purchase Value"]/totaluser
#rename purchase id to purchase count 
show_age_pur.rename(columns={"Purchase ID":"Purchase Count"},inplace=True)
#set the format of the columns rounded to hundredth place and add $ sign 
show_age_pur =show_age_pur.style.format({
    "Average Purchase Price":"${:,.2f}".format,
    "Total Purchase Value":"${:,.2f}".format,
    "Avg Total Purchase per Person":"${:,.2f}".format
})
show_age_pur

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [84]:
#set spenders data set then group by SN
spenders = purchase_data[["SN","Purchase ID","Price"]]
spenders = spenders.groupby("SN")
#set topspenders data set
topspenders = pd.DataFrame(spenders["SN"].count())
#get total purchase value
topspenders["Total Purchase Value"] = spenders["Price"].sum()
#set SN to Purchase count 
topspenders.rename(columns={"SN":"Purchase Count"},inplace=True)
#sort data set to descending order then display only the highest 5 spenders
topspenders = topspenders.sort_values(by="Total Purchase Value", ascending=False).head()
#set format to add $ sign to Total Purchase Value
topspenders=topspenders.style.format({
    "Total Purchase Value":"${:,.2f}".format
})
topspenders

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [138]:
#set items data frame
items = purchase_data[["Item Name","Item ID","Price"]]
itemprice = items["Price"]
items = items.groupby(["Item ID","Item Name"])
#set new data frame 
popular_items = pd.DataFrame(items["Item ID"].count())
#rename item id to purchase count
popular_items.rename(columns={"Item ID":"Purchase Count"}, inplace = True)
#get item price per item type
popular_items["Item Price"] = items["Price"].sum()/items["Price"].count()
#get total amount 
popular_items["Total Purchase Value"] = items["Price"].sum()
#make dataframe for next task
profit_items =popular_items
#sort data by Purchase count then display ony top 5 items 
popular_items = popular_items.sort_values(by="Purchase Count", ascending=False).head()

#set format to add $ sign 
popular_items= popular_items.style.format({
    "Item Price":"${:,.2f}".format,
    "Total Purchase Value":"${:,.2f}".format
})
popular_items

In [85]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [140]:
#sort data by Total Purchase Value then display ony top 5 items 
profit_items = profit_items.sort_values(by="Total Purchase Value", ascending=False).head()
#set format to add $ sign 
profit_items= profit_items.style.format({
    "Item Price":"${:,.2f}".format,
    "Total Purchase Value":"${:,.2f}".format
})
profit_items